This notebook shows basic use of SQLite by myself.
DB was downloaded from https://www.sqlitetutorial.net/sqlite-sample-database/.

Questions are the part of the dataquest sql course.

Below I added a schema of db used.

<img src="image.png">

In [9]:
import sqlite3

conn = sqlite3.connect('chinook.db')

Write a query that returns each genre, with the number of tracks sold in the USA:
in absolute numbers
in percentages.

In [10]:
query1 = """
WITH track_sold_in_USA AS (
SELECT COUNT(InvoiceLineId)
FROM invoice_items  AS it
    JOIN invoices AS i
    ON it.InvoiceId = i.InvoiceID
        JOIN customers AS c
        ON c.CustomerId = i.CustomerID
WHERE c.Country = "USA"
)

SELECT G.Name AS genre,
       COUNT(T.TrackId) AS "number sold", 
       (CAST(COUNT(t.TrackId) as float) / (SELECT * FROM track_sold_in_USA)) * 100 as "percentage sold"
FROM genres as g
    JOIN tracks as t
    ON g.GenreId = t.GenreId
        JOIN invoice_items AS it
        ON t.TrackId = it.TrackId
            JOIN invoices AS i
            ON i.InvoiceID = it.InvoiceID
                JOIN customers AS c
                ON c.CustomerId = i.CustomerId
WHERE c.Country = "USA"
GROUP BY g.GenreId;
"""

cursor = conn.execute(query1)

for i in cursor:
    print(i)

('Rock', 157, 31.781376518218625)
('Jazz', 22, 4.4534412955465585)
('Metal', 64, 12.955465587044534)
('Alternative & Punk', 50, 10.121457489878543)
('Rock And Roll', 3, 0.6072874493927125)
('Blues', 15, 3.0364372469635628)
('Latin', 91, 18.421052631578945)
('Reggae', 6, 1.214574898785425)
('Pop', 5, 1.0121457489878543)
('Soundtrack', 4, 0.8097165991902834)
('Bossa Nova', 7, 1.417004048582996)
('Easy Listening', 3, 0.6072874493927125)
('Heavy Metal', 4, 0.8097165991902834)
('R&B/Soul', 12, 2.42914979757085)
('Hip Hop/Rap', 4, 0.8097165991902834)
('Science Fiction', 1, 0.20242914979757085)
('TV Shows', 14, 2.834008097165992)
('Sci Fi & Fantasy', 5, 1.0121457489878543)
('Drama', 6, 1.214574898785425)
('Comedy', 8, 1.6194331983805668)
('Alternative', 5, 1.0121457489878543)
('Classical', 8, 1.6194331983805668)

Write a query that finds the total dollar amount of sales assigned to each sales support agent within the company. Add any extra attributes for that employee that you find are relevant to the analysis.

In [11]:
query2 = """
SELECT e.EmployeeID,
       e.Title,
       e.HireDate,
       SUM(it.UnitPrice)
FROM employees AS  e
    JOIN customers AS c
    ON c.SupportRepId = e.EmployeeID
        JOIN invoices AS i
        ON i.CustomerId = c.CustomerId
            JOIN invoice_items AS it
            ON i.InvoiceID = it.InvoiceID
GROUP BY e.EmployeeID
"""

cursor = conn.execute(query2)

for i in cursor:
    print(i)

(3, 'Sales Support Agent', '2002-04-01 00:00:00', 833.0400000000058)
(4, 'Sales Support Agent', '2003-05-03 00:00:00', 775.4000000000054)
(5, 'Sales Support Agent', '2003-10-17 00:00:00', 720.160000000005)

Write a query that collates data on purchases from different countries.
Where a country has only one customer, collect them into an "Other" group.
The results should be sorted by the total sales from highest to lowest.
For each country, include:
total number of customers
total value of sales
average value of sales per customer
average order value

In [12]:
query3 = """
SELECT c.Country,
       COUNT(DISTINCT c.CustomerId) AS "Count of customers",
       SUM(it.UnitPrice) AS "Total value of sales",
       SUM(it.UnitPrice) / COUNT(DISTINCT c.CustomerId) AS "Average amount spent by customer",
       SUM(it.UnitPrice) / (COUNT(DISTINCT i.InvoiceId)) AS "Average order value" 
FROM customers AS c    
    JOIN invoices AS i
    ON i.CustomerId = c.CustomerId
        JOIN invoice_items AS it
        ON it.InvoiceId = i.InvoiceId
GROUP BY c.Country
HAVING COUNT(DISTINCT c.CustomerId) > 1

UNION

SELECT "Other",
       COUNT(DISTINCT c.CustomerId) AS "Count of customers",
       SUM(it.UnitPrice) AS "Total value of sales",
       SUM(it.UnitPrice) / COUNT(DISTINCT c.CustomerId) AS "Average amount spent by customer",
       SUM(it.UnitPrice) / (COUNT(DISTINCT i.InvoiceId)) AS "Average order value" 
FROM customers AS c    
    JOIN invoices AS i
    ON i.CustomerId = c.CustomerId
        JOIN invoice_items AS it
        ON it.InvoiceId = i.InvoiceId
WHERE c.Country IN(SELECT Country FROM customers GROUP BY Country HAVING COUNT(*) = 1)
ORDER BY 3 DESC
"""

cursor = conn.execute(query3)

for i in cursor:
    print(i)

('Other', 15, 604.3000000000037, 40.28666666666691, 5.755238095238131)
('USA', 13, 523.060000000003, 40.235384615384845, 5.747912087912121)
('Canada', 8, 303.9600000000013, 37.99500000000016, 5.427857142857166)
('France', 5, 195.1000000000003, 39.02000000000006, 5.574285714285723)
('Brazil', 5, 190.10000000000028, 38.02000000000005, 5.4314285714285795)
('Germany', 4, 156.48, 39.12, 5.588571428571428)
('United Kingdom', 3, 112.85999999999979, 37.619999999999926, 5.374285714285704)
('Czech Republic', 2, 90.23999999999997, 45.11999999999998, 6.445714285714283)
('Portugal', 2, 77.23999999999998, 38.61999999999999, 5.517142857142856)
('India', 2, 75.25999999999998, 37.62999999999999, 5.789230769230768)

Which artist is used in the most playlists?

In [43]:
query4 = """
SELECT ar.Name, COUNT(DISTINCT pt.PlaylistId)
FROM artists AS ar
    JOIN albums AS a
    ON a.ArtistId = ar.ArtistId
        JOIN tracks AS t
        ON t.AlbumId = a.AlbumId
            JOIN playlist_track pt
            ON t.TrackId = pt.TrackId
GROUP BY a.ArtistId
ORDER BY 2 DESC
"""

cursor = conn.execute(query4)

for i in cursor:
    print(i)

('Eugene Ormandy', 7)
('English Concert & Trevor Pinnock', 6)
('Academy of St. Martin in the Fields & Sir Neville Marriner', 6)
("The King's Singers", 6)
('Berliner Philharmoniker & Herbert Von Karajan', 6)
('Alberto Turco & Nova Schola Gregoriana', 5)
('Richard Marlow & The Choir of Trinity College, Cambridge', 5)
('Wilhelm Kempff', 5)
('Yo-Yo Ma', 5)
('Scholars Baroque Ensemble', 5)
('Orchestre Révolutionnaire et Romantique & John Eliot Gardiner', 5)
('Britten Sinfonia, Ivor Bolton & Lesley Garrett', 5)
('Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti', 5)
('Sir Georg Solti & Wiener Philharmoniker', 5)
('Barry Wordsworth & BBC Concert Orchestra', 5)
('Luciano Pavarotti', 5)
('Boston Symphony Orchestra & Seiji Ozawa', 5)
('Ton Koopman', 5)
('Chicago Symphony Orchestra & Fritz Reiner', 5)
('Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', 5)
('James Levine', 5)
('Berliner Philharmoniker & Hans Rosbaud', 5)
('Maurizio Pollini', 5)
('Gustav Mahler', 5)
('Antal Doráti & London Symphony Orchestra', 5)
('Michael Tilson Thomas & San Francisco Symphony', 5)
('Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker', 5)
('Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', 5)
('Philharmonia Orchestra & Sir Neville Marriner', 5)
('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 5)
('Adrian Leaper & Doreen de Feis', 5)
("Kent Nagano and Orchestre de l'Opéra de Lyon", 5)
('Julian Bream', 5)
('Martin Roscoe', 5)
('Mela Tenenbaum, Pro Musica Prague & Richard Kapp', 5)
('Philip Glass Ensemble', 5)
('Accept', 4)
('Alice In Chains', 4)
('Caetano Veloso', 4)
('Chico Buarque', 4)
('Gilberto Gil', 4)
('Metallica', 4)
('Gonzaguinha', 4)
('Djavan', 4)
('Eric Clapton', 4)
('Iron Maiden', 4)
('Mötley Crüe', 4)
('Nirvana', 4)
('Ozzy Osbourne', 4)
('Pearl Jam', 4)
('Soundgarden', 4)
('Stone Temple Pilots', 4)
('Temple of the Dog', 4)
('Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker', 4)
('Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer', 4)
('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 4)
('Berliner Philharmoniker, Claudio Abbado & Sabine Meyer', 4)
('Royal Philharmonic Orchestra & Sir Thomas Beecham', 4)
('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 4)
('London Symphony Orchestra & Sir Charles Mackerras', 4)
('Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker', 4)
('Leonard Bernstein & New York Philharmonic', 4)
('Aaron Copland & London Symphony Orchestra', 4)
('Sergei Prokofiev & Yuri Temirkanov', 4)
('Orchestra of The Age of Enlightenment', 4)
('Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos', 4)
('Edo de Waart & San Francisco Symphony', 4)
('Choir Of Westminster Abbey & Simon Preston', 4)
("Christopher O'Riley", 4)
('Fretwork', 4)
('Otto Klemperer & Philharmonia Orchestra', 4)
('Yehudi Menuhin', 4)
('Les Arts Florissants & William Christie', 4)
('The 12 Cellists of The Berlin Philharmonic', 4)
('Roger Norrington, London Classical Players', 4)
("Charles Dutoit & L'Orchestre Symphonique de Montréal", 4)
('Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir', 4)
('Göteborgs Symfoniker & Neeme Järvi', 4)
('Itzhak Perlman', 4)
('Michele Campanella', 4)
('Gerald Moore', 4)
('Emerson String Quartet', 4)
('C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu', 4)
('Nash Ensemble', 4)
('AC/DC', 3)
('Aerosmith', 3)
('Alanis Morissette', 3)
('Antônio Carlos Jobim', 3)
('Apocalyptica', 3)
('Audioslave', 3)
('BackBeat', 3)
('Black Sabbath', 3)
('Body Count', 3)
('Bruce Dickinson', 3)
('Chico Science & Nação Zumbi', 3)
('Cidade Negra', 3)
('Led Zeppelin', 3)
('Ed Motta', 3)
('Elis Regina', 3)
('Milton Nascimento', 3)
('Jorge Ben', 3)
('Queen', 3)
('Kiss', 3)
('Spyro Gyra', 3)
('Green Day', 3)
('Deep Purple', 3)
('Santana', 3)
('Miles Davis', 3)
('Cássia Eller', 3)
('Def Leppard', 3)
('Faith No More', 3)
('Falamansa', 3)
('Foo Fighters', 3)
('Funk Como Le Gusta', 3)
("Guns N' Roses", 3)
('Incognito', 3)
('James Brown', 3)
('Jamiroquai', 3)
('Joe Satriani', 3)
('Jota Quest', 3)
('Judas Priest', 3)
('Legião Urbana', 3)
('Lenny Kravitz', 3)
('Motörhead', 3)
('Os Paralamas Do Sucesso', 3)
('Page & Plant', 3)
('Passengers', 3)
('Planet Hemp', 3)
('R.E.M. Feat. Kate Pearson', 3)
('R.E.M.', 3)
('Raimundos', 3)
('Red Hot Chili Peppers', 3)
('Rush', 3)
('Skank', 3)
('Smashing Pumpkins', 3)
('Terry Bozzio, Tony Levin & Steve Stevens', 3)
('The Clash', 3)
('The Cult', 3)
('The Police', 3)
('The Rolling Stones', 3)
('The Tea Party', 3)
('Tim Maia', 3)
('Titãs', 3)
('U2', 3)
('UB40', 3)
('Van Halen', 3)
('Zeca Pagodinho', 3)
('Dread Zeppelin', 3)
('Scorpions', 3)
('House Of Pain', 3)
('Habib Koité and Bamada', 3)
('Nicolaus Esterhazy Sinfonia', 3)
('Billy Cobham', 2)
('Black Label Society', 2)
('Buddy Guy', 2)
('Cláudio Zoli', 2)
('Various Artists', 2)
('Frank Zappa & Captain Beefheart', 2)
('Marcos Valle', 2)
('O Rappa', 2)
('David Coverdale', 2)
('Os Mutantes', 2)
('Gene Krupa', 2)
('Toquinho & Vinícius', 2)
('Vinícius De Moraes', 2)
('Creedence Clearwater Revival', 2)
('Dennis Chambers', 2)
('Frank Sinatra', 2)
('Godsmack', 2)
('JET', 2)
('Jimi Hendrix', 2)
('João Suplicy', 2)
('Lulu Santos', 2)
('Marillion', 2)
('Marisa Monte', 2)
('Marvin Gaye', 2)
('Men At Work', 2)
('Mônica Marianno', 2)
('O Terço', 2)
('Olodum', 2)
("Paul D'Ianno", 2)
('Pink Floyd', 2)
('Raul Seixas', 2)
('Stevie Ray Vaughan & Double Trouble', 2)
('System Of A Down', 2)
('The Black Crowes', 2)
('The Doors', 2)
('The Who', 2)
('Battlestar Galactica', 2)
('Heroes', 2)
('Lost', 2)
('Velvet Revolver', 2)
('The Office', 2)
('Battlestar Galactica (Classic)', 2)
('Aquaman', 2)
('Cake', 2)
('Aisha Duo', 2)
('Karsh Kale', 2)
('The Posies', 2)
('Luciana Souza/Romero Lubambo', 2)
('Aaron Goldberg', 2)
('Chris Cornell', 2)
('Amy Winehouse', 2)
('Calexico', 2)

How many tracks have been purchased vs not purchased?

In [28]:
query5 = """
SELECT  COUNT(DISTINCT t.TrackId) AS sold_tracks,
        (SELECT COUNT(*) from tracks) - COUNT(DISTINCT t.TrackId) AS unsold_tracks
FROM tracks AS t
    JOIN invoice_items it
    ON t.TrackId = it.TrackId;
"""

cursor = conn.execute(query5)

for i in cursor:
    print(i)

(1984, 1519)

In [7]:
conn.close()